
{#- Names of the axes -#}
{% set style_column_name="font-weight: bold; padding:0.5em 0.5em; white-space: nowrap; border-right: 1px dashed grey;" %}
{% set style_index_name="font-weight: bold; padding:0.5em 0.5em; white-space: nowrap;" %}
{% set style_index_name_last="border-right: 1px dashed grey;" %}

{#- Axes -#}
{% set style_column_value="font-weight: bold; padding:0.5em 0.5em; white-space: nowrap;" %}
{% set style_index_value="font-weight: bold; padding:0.5em 0.5em; text-align:right; vertical-align: top; white-space: nowrap;" %}
{% set style_index_value_last="border-right: 1px solid black; text-align: right;" %}

{#- Actual values -#}
{% set style_value="padding:0.5em 0.5em; text-align:center;" %}


{#- Groups, index & columns -#}
{% set style_index_value_last_index_group="border-bottom: 1px dashed grey;" %}
{% set style_column_value_last_column_group="border-right: 1px dashed grey;" %}

{% set style_value_last_index_group="border-bottom: 1px dashed grey;" %}
{% set style_value_last_column_group="border-right: 1px dashed grey;" %}

{#- Row cycling -#}
{% set style_row_value_even="background-color: White;" %}
{% set style_row_value_odd="background-color: #f5f5f5;" %}


{#- Other -#}
{% set style_table="font-family: Arial, Helvetica, sans-serif; font-size: 12px;" %}
{% set style_thead="border-bottom: 1px solid black;" %}


{% extends 'custom.html' %}
