{% set style_table="font-family: Arial, Helvetica, sans-serif; font-size: 12px;" %}

{% set style_column_name="font-weight: bold; padding:0.5em 0.5em; white-space: nowrap;" %}
{% set style_index_name="font-weight: bold; padding:0.5em 0.5em; white-space: nowrap;" %}

{% set style_column_value="font-weight: bold; padding:0.5em 0.5em; white-space: nowrap;" %}
{% set style_index_value="font-weight: bold; padding:0.5em 0.5em; text-align:right; vertical-align: top; white-space: nowrap;" %}

{% set style_index_value_last="border-right: 1px solid black; text-align: right;" %}

{% set style_value="padding:0.5em 0.5em; text-align:center;" %}

{% set style_thead="border-bottom: 1px solid black;" %}

{% set style_row_value_even="background-color: White;" %}
{% set style_row_value_odd="background-color: #f5f5f5;" %}
{% extends 'custom.html' %}
